header{
    height: 65px;
}

.admin-dashboard{
    aside{
    width: 300px;
    height: calc(100vh - 65px);
    }
    .main-dash{
        width: calc(100vw - 300px);
        height: calc(100vh - 65px);
        padding: 15px 20px;
    }
}
